@model Entities.Experience
<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Deneyim Düzenle</h4>
            <a href="/admin/Deneyim" class="btn btn-primary" style="float:right">Geri Git</a> <br /><br /><br />
            <form action="/admin/Deneyim/Update/@Model.UID" method="post">
                <input type="datetime" name="CreatedDate" hidden="hidden" value=@Model.CreatedDate />
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Deneyim Adı </label>
                    <div class="col-sm-6">
                        <input type="text" placeholder="Deneyim Adı" asp-for="Name" class="form-control" value="@Model.Name" />
                        <span asp-validation-for="Name"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Deneyim Açıklaması </label>
                    <div class="col-sm-6">
                        <textarea type="text" placeholder="Deneyim Açıklaması" asp-for="Description" class="form-control">@Model.Description</textarea>
                        <span asp-validation-for="Description"></span>

                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Başlangıç Tarihi</label>
                    <div class="col-sm-6">
                        <input type="datetime" placeholder="Başlangıç Tarihi" name="StartedDate" class="form-control" value="@Model.StartedDate" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Bitiş Tarihi</label>
                    <div class="col-sm-6">
                        <input type="datetime" placeholder="Bitiş Tarihi" name="EndDate" class="form-control" value="@Model.EndDate" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Kişi Seç</label>
                    <div class="col-sm-6">
                        <select class="form-control form-control-sm" name="PersonalInformationUID">
                            @foreach (var item in ViewBag.Kisiler)
                            {
                                <!option value="@item.UID" @if (item.UID == Model.PersonalInformationUID) {
                            @Html.Raw("selected ='selected'")} >@item.NameSurname</!option>
                            }

                        </select>
                    </div>
                </div>
                <button type="submit" class="btn btn-gradient-info">Kaydet</button>
                <a href="/admin/Deneyim" class="btn btn-light" type="button">Vazgeç</a>

            </form>

            <div class="col-md-12" style="margin-top:15px;">
                @if (ViewBag.Message != null)
                {
                    if (ViewBag.Message.StatusCode == Core.Results.ComplexTypes.StatusCode.Success)
                    {
                        <div class="alert alert-success">@ViewBag.Message.UserMessage</div>
                    }
                    else
                    {
                        <div class="alert alert-danger">@ViewBag.Message.UserMessage</div>
                    }
                }
            </div>
        </div>
    </div>
</div>